<p id="notice"><%= notice %></p>

<h1>Listing Quizes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizes.each do |quize| %>
      <tr>
        <td><%= link_to 'Show', quize %></td>
        <td><%= link_to 'Edit', edit_quize_path(quize) %></td>
        <td><%= link_to 'Destroy', quize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quize', new_quize_path %>
